<!DOCTYPE html>
<html>
  <head>
    <title>SoundCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <script type='text/javascript'>
    window.pianoPlayer = "<%= image_url('piano_player.jpg')%>"
  </script>
  <script type='text/javascript'>
    window.happyFriend = "<%= image_url('happy_music_friend.jpg')%>"
  </script>
  <script type='text/javascript'>
    window.yachty = "<%= image_url('concert.jpg')%>"
  </script>
  <script type='text/javascript'>
    window.iPhone = "<%= image_url('iphone.png')%>"
  </script>
  <script type='text/javascript'>
    window.iPad = "<%= image_url('ipad.png')%>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
